@model Web_practice.Models.Pages.Task.ExecutableModel

@{
	ViewData["Title"] = "Executable";
}

<h1>Executable</h1>


@if (Model.IsCalculated)
{
	<h4>Статистика</h4>
	<textarea readonly cols="30" rows="10">
		@Model.Statistic
	</textarea>
	<h4>Результаты</h4>
	<div id="results">
		<div class="inner">
			<!-- Boxes -->
			<div class="thumbnails">
				@foreach (var res in Model.Results)
				{
					<div class="box">
						<div class="inner">
							<h3>@res.Path_res.Split("/").Last().Split(".").First()</h3>
							<form asp-controller="Task" asp-action="Result" method="get">
								<button type="submit" class="button fit" name="resIdEncode" value="@Web_practice.Utilities.ProtectData.GetInstance().Encode(res.Id)">открыть</button>
							</form>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}
else
{
	<h4>Пока не посчитаны, пожалуйста ожидайте</h4>
}

<h4>danger zone</h4>

<div class="row">
	<div class="col-md-4">
		<form asp-action="ExecutableDelete" asp-controller="Task" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<button type="submit" class="button fit" name="exeIdEncode" value="@Web_practice.Utilities.ProtectData.GetInstance().Encode(Model.Executable.Id)">Удалить все резульаты</button>
			</div>
		</form>
	</div>
</div>


<div>
	@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
	<a asp-action="Index">Back to List</a>
</div>
