@model Web_practice.Models.Pages.Task.TaskModel

@{
	ViewData["Title"] = "Task";
}

<h1>Task: @Model.Task.Title</h1>

<hr />

@if (Model.AccessLevel == 100)
{
	<div class="row">
		<div class="col-md-4">
			<form asp-action="TaskSettings" method="get">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<input type="submit" value="редактировать" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
}

<div class="row">
	<div class="col-md-4">
		<form asp-action="AdditionExecutable" asp-controller="Task" method="get">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">добавить исполняемый файл</button>
			</div>
		</form>
	</div>
	@if (Model.AccessLevel >= 10)
	{
		<div class="col-md-4">
			<form asp-action="AdditionTest" asp-controller="Task" method="get">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">добавить тест</button>
				</div>
			</form>
		</div>
	}
</div>


<h4>executables</h4>
<div id="executables">
	<div class="inner">
		<!-- Boxes -->
		<div class="thumbnails">
			@foreach (var exe in Model.Exes)
			{
				<div class="box">
					<div class="inner">
						<h3>@exe.User::@exe.Exe.Title</h3>
						<form asp-controller="Task" asp-action="Executable" method="get">
							<button type="submit" class="button fit" name="exeIdEncode" value="@Web_practice.Utilities.ProtectData.GetInstance().Encode(exe.Exe.Id)">открыть</button>
						</form>
						<form asp-controller="Task" asp-action="ExecutableDelete" method="post">
							<button type="submit" class="button fit" name="exeIdEncode" value="@Web_practice.Utilities.ProtectData.GetInstance().Encode(exe.Exe.Id)">удалить</button>
						</form>
					</div>
				</div>
			}
		</div>
	</div>
</div>


<h4>тесты</h4>
<div id="tests">
	<div class="inner">
		<!-- Boxes -->
		<div class="thumbnails">
			@foreach (var test in Model.Tests)
			{
				<div class="box">
					<div class="inner">
						<h3>@test.Title</h3>
						<form asp-controller="Task" asp-action="Test" method="get">
							<button type="submit" class="button fit" name="testIdEncode" value="@Web_practice.Utilities.ProtectData.GetInstance().Encode(test.Id)">открыть</button>
						</form>
						@if (Model.AccessLevel >= 20)
						{
							<form asp-controller="Task" asp-action="TestDelete" method="post">
								<button type="submit" class="button fit" name="testIdEncode" value="@Web_practice.Utilities.ProtectData.GetInstance().Encode(test.Id)">удалить</button>
							</form>
						}
					</div>
				</div>
			}
		</div>
	</div>
</div>

@if (Model.AccessLevel == 100)
{
	<h4>danger zone</h4>

	<div class="row">
		<div class="col-md-4">
			<form asp-action="TaskDelete" asp-controller="Task" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<button type="submit" class="button fit" >Удалить задачу</button>
				</div>
			</form>
		</div>
	</div>
}

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
